{% extends 'base.html.twig' %}

{% block title %}Hello AddTrickGroupController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            <!-- form -->
            <h2 class="mt-5 mb-4">Créer un groupe</h2>
            <form action="{{ path('app_add_trick_group') }}" method="POST" class="form-floating mb-5">

                <div class="form-floating mb-2">
                    <input type="text" name="_group_name" class="form-control" id="floatingCategoryName" placeholder="category">
                    <label for="floatingCategoryName">Nom de la catégorie</label>
                </div>

                <div class="form-floating mb-2">
                    <textarea class="form-control" name="_group_escription" id="floatingGroupDescription" cols="30" rows="30" aria-describedby="groupDescriptionHelp"></textarea>
                    <label for="floatingGroupDescription">Description du groupe</label>
                    <div id="groupDescriptionHelp" class="form-text">
                        Dévriver le groupe
                    </div>
                </div> 

                <div class="d-grid gap-2">
                        <!-- <button type="submit" class="btn btn-primary" type="button">Modifier mes informations</button> -->
                    <button type="submit" class="btn btn-primary" type="button">Créer un groupe</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}
