{% extends 'base.html.twig' %}

{% block title %}Hello AddTrickGroupController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            <!-- form -->
            <h2 class="mt-5 mb-4">Créer un groupe</h2>
            <form action="" class="form-floating mb-5">

                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="floatingCategoryName" placeholder="category">
                    <label for="floatingCategoryName">Nom de la catégorie</label>
                </div>

                    <!-- Category parent -->
                <div class="form-floating mb-2">
                    <select class="form-select" aria-label="Default select example" aria-describedby="categoryHelp">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <label for="floatingTitle">Catégorie de la figure</label>
                </div>

                <div class="d-grid gap-2">
                        <!-- <button type="submit" class="btn btn-primary" type="button">Modifier mes informations</button> -->
                    <button type="submit" class="btn btn-primary" type="button">Créer un groupe</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}
