{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}

    {% for successMessage in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ successMessage }}
        </div>
    {% endfor %}


    <div class="signup mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    {# flash message #}
                    {% for flash_message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    

                    <h1>Create Account</h1>
                    <p>Already have an account? <a href="login.html">Sign in here</a> </p>

                    {{ form(signupForm) }}
                    
                    <!-- Signup form -->
                    {# <form class="form-floating mb-3" action="">

                        <div class="row">                            
                            <div class="col-md-6">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="floatingFirstname" placeholder="name@example.com">
                                    <label for="floatingFirstname">Prénom</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="floatingLastname" placeholder="name@example.com">
                                    <label for="floatingLastname">Nom</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-floating mb-2">
                            <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
                            <label for="floatingEmail">Adresse E-mail</label>
                        </div>

                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" aria-describedby="passwordHelp">
                            <label for="floatingPassword">Mot de passe</label>

                            <div id="passwordHelp" class="form-text">
                                Votre mot de passe doit comporter entre 8 et 20 caractères, inclure des lettres et des chiffres, et ne doit pas contenir d'espaces, de caractères spéciaux ni d'emoji.
                            </div>
                        </div> 

                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Password">
                            <label for="floatingConfirmPassword">Confirmer le mot de passe</label>
                        </div>   

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="terms">
                            <label class="form-check-label" for="terms">
                                I agree to <a href="page.html">Terms & Conditions</a>
                            </label>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary" type="button">Sign up</button>
                        </div>

                    </form> #}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
